{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Customer Portal: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/logout_user/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/manage/">Manage</a>
    <form action = "/get_rental_info/" method="POST">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{user.id}}">
  <input class="w3-bar-item w3-btn w3-teal w3-right" type="submit" value="My rentals">
  </form>
</div>
<div class="w3-display-middle">
<h3><b>Rental ended</b></h3>
<h4>Cost: {{cost}}₽</h4>
<h4>Duration: {{duration}} sec</h4>
<a class="w3-btn w3-grey" href="/manage/">Confirm</a>
</div>
{% endblock %}