{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Customer Portal: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/logout/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/manage/">Manage</a>
    <form action = "/active_rental/" method="POST">
  {% csrf_token %}
  <input type="hidden" name="id" value="{{user.id}}">
  <input class="w3-bar-item w3-btn w3-teal w3-right" type="submit" value="My rentals">
  </form>
</div>
<h3 class="w3-center" style="padding-top:20"><b>Rental ended</b></h3>

{% endblock %}